*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(10, 105, 101);

}

#tiket {
    background-color: rgb(70, 64, 173) ;
    margin: 150px auto;
    padding: 10px;
    max-width: 1140px;
    
}

.show-error {
    color: violet;
    font-weight: 600;
}